<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To Do List</title>
  <link rel="stylesheet" href="css/styles.css">
    <!-- Trying to add Search -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <form class="example" action="/search" method="post">
      <input type="text" placeholder="Search Custom List"  name="search">
      <button type="submit" ><i class="fa fa-search"></i></button>
    </form> -->
</head>

<body>
